.auth {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

.auth label {
  display: block;
  margin-bottom: 10px;
}

.auth input[type="text"],
.auth input[type="text"]:focus,
.auth input[type="email"],
.auth input[type="email"]:focus,
.auth input[type="password"],
.auth input[type="password"]:focus {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d1d1d1;
}

.auth input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  font-size: 17px;
}

.auth div {
  margin-bottom: 20px;
}

.input_div {
  position: relative;
}

.eye {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
