.event {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}
.event:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

.event h4 {
  margin-bottom: 10px;
  flex: 2;
}

.event h4:hover {
  text-decoration: underline;
}

.edit,
.delete {
  margin: 10px;
  cursor: pointer;
}

.delete {
  color: #f00;
}
