.event {
  position: relative;
  padding-top: 40px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 5px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}

.load_controls {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-gap: 15px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.load_date {
  max-width: 310px;
}

.load_name {
  max-width: 400px;
}

.load_img {
  max-width: 960px;
}
