.form label {
  display: block;
}

.form input {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.form textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
}

.form input[type="submit"] {
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 20px 0 30px;
}

.form .file {
  border: 1px solid #ccc;
  background: #f4f4f4;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
