.search {
  position: relative;
}

.search form {
  display: flex;
  align-items: center;
}

.search input {
  width: 0;
  height: 35px;
  padding: 5px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
  opacity: 0;
  transition: all 0.4s linear;
}

.search input.active {
  opacity: 1;
  width: 250px;
}

.search input:focus {
  border: 1px solid #d1d1d1;
}

.icon {
  margin: 0 5px;
  color: gray;
  cursor: pointer;
  background: #d1d1d1;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
}

.search_events {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: max-content;
  padding: 0;
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 3px 3px 5px #d1d1d1, -3px -3px 5px #ffffff;
  z-index: 100;
}

.not_found {
  width: 250px;
  text-align: center;
  color: #ec1c24;
  font-weight: 600;
}
